<app-barra-navegacao></app-barra-navegacao>

<form>
    <div class="form-group">
      <label>Id</label>
      <input type="text" class="form-control" readonly [value]="[usuario?.id]">
    </div>
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" readonly [value]="[usuario?.nome]">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" readonly [value]="[usuario?.email]">
    </div>
  </form>
  <h3>Transações</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
        <th scope="col">Chave pix</th>
        <th scope="col">Sucesso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transacao of transacoes">
        <th scope="row">{{ transacao.id }}</th>
        <td>{{ transacao.data | date:'dd/MM/yyyy HH:ss' }}</td>
        <td>{{ transacao.valor | currency:'BRL' }}</td>
        <td>{{ transacao.chavePixDestino }}</td>
        <td>{{ getSucesso(transacao) }}</td>
      </tr>
    </tbody>
  </table>