<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/imagens/pix-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Pix Senac App
    </a>
    <form class="form-inline">
        <button class="btn btn-sm btn-outline-primary" type="button" [routerLink]="['']">Home</button>
        <button class="btn btn-sm btn-outline-primary" type="button" [routerLink]="['/usuarios']">Usuarios</button>
      </form>
  </nav>