<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/imagens/pix-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Pix Senac App
    </a>
    <div class="text-left">
      Olá, {{ nomeUsuario }} - {{ saldo | currency:'BRL' }}
    </div>
    <form class="form-inline menu">
        <button class="btn btn-sm btn-outline-primary" type="button" [routerLink]="['/usuarios']" [routerLinkActive]="'rota-ativada'" [routerLinkActiveOptions]="{exact:
          true}">Usuarios</button>

        <button class="btn btn-sm btn-outline-primary" type="button" [routerLink]="['/transferencia']" [routerLinkActive]="'rota-ativada'" [routerLinkActiveOptions]="{exact:
          true}">Realizar PIX</button>

        <button class="btn btn-sm btn-danger" (click)="sair()" type="button">Sair</button>
    </form>
  </nav>